.canou-blue {
    background-color: #29244E !important;
}

.canou-blue-text {
    color: #29244E !important;
}

.canou-yellow {
    background-color: #FEFF7C !important;
}

.canou-yellow-text {
    color: #FEFF7C !important;
}

.canou-green {
    background-color: #11C26F !important;
}

.canou-green-text {
    color: #11C26F !important;
}

.canou-light-blue {
    background-color: #009FFF !important;
}

.canou-light-blue-text {
    color: #009FFF !important;
}

</style>
